n8n_workflows/cve_vulnerability_alerts.json
{
  "name": "CVE Vulnerability Alerts",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "// Calculate date range for NVD API query (last 6 hours)\nconst now = new Date();\nconst sixHoursAgo = new Date(now.getTime() - (6 * 60 * 60 * 1000));\n\n// Format dates for NVD API (ISO 8601 format)\nconst formatDate = (d) => d.toISOString().replace(/\\.\\d{3}Z$/, '.000');\n\nconst startDate = formatDate(sixHoursAgo);\nconst endDate = formatDate(now);\n\n// Define tech stack keywords for matching\nconst techStack = [\n  // Operating Systems\n  'windows', 'microsoft windows', 'linux', 'ubuntu', 'centos', 'rhel', 'red hat',\n  // Security Tools\n  'crowdstrike', 'falcon', 'tanium',\n  // Programming Languages/Runtimes\n  'python', 'node.js', 'nodejs', 'node', 'npm', 'javascript',\n  // Office/Productivity\n  'microsoft office', 'office 365', 'outlook', 'excel', 'word', 'powerpoint', 'teams',\n  // Browsers\n  'chrome', 'chromium', 'firefox', 'edge', 'safari',\n  // Common Infrastructure\n  'apache', 'nginx', 'iis', 'tomcat',\n  'docker', 'kubernetes', 'k8s',\n  'vmware', 'esxi', 'vcenter',\n  'active directory', 'ldap', 'kerberos',\n  // Databases\n  'mysql', 'postgresql', 'mongodb', 'redis', 'sql server', 'mssql', 'oracle',\n  // Cloud\n  'aws', 'azure', 'gcp', 'google cloud',\n  // Networking\n  'cisco', 'juniper', 'palo alto', 'fortinet', 'fortigate',\n  // Common Software\n  'adobe', 'acrobat', 'reader', 'java', 'jre', 'jdk', 'openssl', 'openssh'\n];\n\nreturn {\n  json: {\n    startDate,\n    endDate,\n    techStack\n  }\n};"
      },
      "id": "prepare-dates",
      "name": "Prepare Query Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://services.nvd.nist.gov/rest/json/cves/2.0",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "lastModStartDate",
              "value": "={{ $json.startDate }}"
            },
            {
              "name": "lastModEndDate",
              "value": "={{ $json.endDate }}"
            },
            {
              "name": "cvssV3Severity",
              "value": "HIGH"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          },
          "timeout": 60000
        }
      },
      "id": "nvd-query-high",
      "name": "Query NVD - High Severity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, -100],
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://services.nvd.nist.gov/rest/json/cves/2.0",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "lastModStartDate",
              "value": "={{ $json.startDate }}"
            },
            {
              "name": "lastModEndDate",
              "value": "={{ $json.endDate }}"
            },
            {
              "name": "cvssV3Severity",
              "value": "CRITICAL"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          },
          "timeout": 60000
        }
      },
      "id": "nvd-query-critical",
      "name": "Query NVD - Critical Severity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 100],
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-nvd-results",
      "name": "Merge NVD Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [660, 0]
    },
    {
      "parameters": {
        "jsCode": "// Get merged NVD results\nconst items = $input.all();\nconst techStack = $('Prepare Query Parameters').item.json.techStack;\n\n// Combine vulnerabilities from both queries\nlet allVulnerabilities = [];\nfor (const item of items) {\n  if (item.json.vulnerabilities && Array.isArray(item.json.vulnerabilities)) {\n    allVulnerabilities = allVulnerabilities.concat(item.json.vulnerabilities);\n  }\n}\n\n// Remove duplicates by CVE ID\nconst uniqueCves = new Map();\nfor (const vuln of allVulnerabilities) {\n  const cveId = vuln.cve?.id;\n  if (cveId && !uniqueCves.has(cveId)) {\n    uniqueCves.set(cveId, vuln);\n  }\n}\n\n// Process each CVE and check for tech stack matches\nconst relevantCves = [];\n\nfor (const [cveId, vuln] of uniqueCves) {\n  const cve = vuln.cve;\n  \n  // Extract description (English preferred)\n  const descriptions = cve.descriptions || [];\n  const enDesc = descriptions.find(d => d.lang === 'en');\n  const description = enDesc?.value || descriptions[0]?.value || 'No description available';\n  \n  // Extract CVSS score (prefer v3.1, then v3.0, then v2)\n  let cvssScore = 0;\n  let cvssVersion = '';\n  let cvssVector = '';\n  let cvssSeverity = '';\n  \n  const metrics = cve.metrics || {};\n  if (metrics.cvssMetricV31 && metrics.cvssMetricV31.length > 0) {\n    const cvss = metrics.cvssMetricV31[0].cvssData;\n    cvssScore = cvss.baseScore || 0;\n    cvssVersion = 'v3.1';\n    cvssVector = cvss.vectorString || '';\n    cvssSeverity = cvss.baseSeverity || '';\n  } else if (metrics.cvssMetricV30 && metrics.cvssMetricV30.length > 0) {\n    const cvss = metrics.cvssMetricV30[0].cvssData;\n    cvssScore = cvss.baseScore || 0;\n    cvssVersion = 'v3.0';\n    cvssVector = cvss.vectorString || '';\n    cvssSeverity = cvss.baseSeverity || '';\n  } else if (metrics.cvssMetricV2 && metrics.cvssMetricV2.length > 0) {\n    const cvss = metrics.cvssMetricV2[0].cvssData;\n    cvssScore = cvss.baseScore || 0;\n    cvssVersion = 'v2.0';\n    cvssVector = cvss.vectorString || '';\n    cvssSeverity = cvss.baseSeverity || '';\n  }\n  \n  // Only process CVEs with CVSS >= 7.0\n  if (cvssScore < 7.0) continue;\n  \n  // Extract affected products/configurations\n  const affectedProducts = [];\n  const configurations = cve.configurations || [];\n  \n  for (const config of configurations) {\n    const nodes = config.nodes || [];\n    for (const node of nodes) {\n      const cpeMatches = node.cpeMatch || [];\n      for (const cpe of cpeMatches) {\n        if (cpe.criteria) {\n          // Parse CPE string: cpe:2.3:a:vendor:product:version:...\n          const cpeParts = cpe.criteria.split(':');\n          if (cpeParts.length >= 5) {\n            const vendor = cpeParts[3] || '';\n            const product = cpeParts[4] || '';\n            const version = cpeParts[5] || '*';\n            \n            affectedProducts.push({\n              cpe: cpe.criteria,\n              vendor,\n              product,\n              version,\n              vulnerable: cpe.vulnerable\n            });\n          }\n        }\n      }\n    }\n  }\n  \n  // Check if any affected product matches our tech stack\n  const descLower = description.toLowerCase();\n  const matchedProducts = [];\n  \n  for (const tech of techStack) {\n    const techLower = tech.toLowerCase();\n    \n    // Check description\n    if (descLower.includes(techLower)) {\n      matchedProducts.push(tech);\n      continue;\n    }\n    \n    // Check affected products\n    for (const prod of affectedProducts) {\n      if (prod.vendor.toLowerCase().includes(techLower) ||\n          prod.product.toLowerCase().includes(techLower)) {\n        matchedProducts.push(tech);\n        break;\n      }\n    }\n  }\n  \n  // Remove duplicates from matched products\n  const uniqueMatches = [...new Set(matchedProducts)];\n  \n  // Only include CVEs that match our tech stack\n  if (uniqueMatches.length > 0) {\n    // Extract references for remediation\n    const references = cve.references || [];\n    const remediationLinks = references\n      .filter(ref => ref.tags?.some(t => ['Patch', 'Vendor Advisory', 'Mitigation'].includes(t)))\n      .slice(0, 5)\n      .map(ref => ({ url: ref.url, source: ref.source, tags: ref.tags }));\n    \n    // If no specific remediation links, include general references\n    const allLinks = remediationLinks.length > 0 ? remediationLinks : \n      references.slice(0, 5).map(ref => ({ url: ref.url, source: ref.source, tags: ref.tags }));\n    \n    relevantCves.push({\n      cveId,\n      description,\n      cvssScore,\n      cvssVersion,\n      cvssVector,\n      cvssSeverity,\n      affectedProducts: affectedProducts.slice(0, 20), // Limit for readability\n      matchedTechStack: uniqueMatches,\n      references: allLinks,\n      published: cve.published,\n      lastModified: cve.lastModified,\n      isCritical: cvssScore >= 9.0\n    });\n  }\n}\n\n// Sort by CVSS score descending\nrelevantCves.sort((a, b) => b.cvssScore - a.cvssScore);\n\nif (relevantCves.length === 0) {\n  return { json: { noResults: true, message: 'No relevant CVEs found matching tech stack' } };\n}\n\n// Return each CVE as a separate item for processing\nreturn relevantCves.map(cve => ({ json: cve }));"
      },
      "id": "filter-relevant-cves",
      "name": "Filter Relevant CVEs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-results",
              "leftValue": "={{ $json.noResults }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-relevant-cves",
      "name": "Has Relevant CVEs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.cisa.gov/sites/default/files/feeds/known_exploited_vulnerabilities.json",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          },
          "timeout": 30000
        }
      },
      "id": "fetch-kev-catalog",
      "name": "Fetch CISA KEV Catalog",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, -100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Get CVE data and KEV catalog\nconst cveData = $('Has Relevant CVEs?').item.json;\nconst kevResponse = $input.item.json;\n\n// Build KEV lookup set\nconst kevSet = new Set();\nif (kevResponse?.vulnerabilities && Array.isArray(kevResponse.vulnerabilities)) {\n  for (const vuln of kevResponse.vulnerabilities) {\n    if (vuln.cveID) {\n      kevSet.add(vuln.cveID.toUpperCase());\n    }\n  }\n}\n\n// Check if this CVE is in KEV\nconst isInKev = kevSet.has(cveData.cveId?.toUpperCase());\n\n// Find KEV details if present\nlet kevDetails = null;\nif (isInKev && kevResponse?.vulnerabilities) {\n  kevDetails = kevResponse.vulnerabilities.find(\n    v => v.cveID?.toUpperCase() === cveData.cveId?.toUpperCase()\n  );\n}\n\nreturn {\n  json: {\n    ...cveData,\n    isInKev,\n    kevDetails: kevDetails ? {\n      dateAdded: kevDetails.dateAdded,\n      dueDate: kevDetails.dueDate,\n      knownRansomwareCampaignUse: kevDetails.knownRansomwareCampaignUse,\n      notes: kevDetails.notes\n    } : null\n  }\n};"
      },
      "id": "check-kev-status",
      "name": "Check KEV Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, -100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://YOUR_TANIUM_SERVER/api/v2/packages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filter[name]",
              "value": "={{ $json.matchedTechStack[0] || '' }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          },
          "timeout": 30000
        }
      },
      "id": "tanium-query",
      "name": "Query Tanium (Optional)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, -100],
      "continueOnFail": true,
      "notes": "Optional: Query Tanium for affected endpoint count. Configure your Tanium server URL and credentials."
    },
    {
      "parameters": {
        "jsCode": "// Get enriched CVE data\nconst cveData = $('Check KEV Status').item.json;\nconst taniumResponse = $input.item.json;\n\n// Parse Tanium response for endpoint count (if available)\nlet affectedEndpointCount = 'N/A (Tanium query not configured)';\nlet taniumQuerySuccess = false;\n\nif (taniumResponse && !taniumResponse.error && taniumResponse.data) {\n  taniumQuerySuccess = true;\n  affectedEndpointCount = taniumResponse.data?.count || taniumResponse.count || 'Unknown';\n}\n\n// CVSS color coding\nlet cvssEmoji = '';\nlet cvssColor = '';\nconst score = cveData.cvssScore || 0;\n\nif (score >= 9.0) {\n  cvssEmoji = '\\u{1F534}'; // Red circle - Critical\n  cvssColor = 'CRITICAL';\n} else if (score >= 7.0) {\n  cvssEmoji = '\\u{1F7E0}'; // Orange circle - High\n  cvssColor = 'HIGH';\n} else if (score >= 4.0) {\n  cvssEmoji = '\\u{1F7E1}'; // Yellow circle - Medium\n  cvssColor = 'MEDIUM';\n} else {\n  cvssEmoji = '\\u{1F7E2}'; // Green circle - Low\n  cvssColor = 'LOW';\n}\n\n// KEV status indicator\nlet kevIndicator = '';\nif (cveData.isInKev) {\n  kevIndicator = '\\u26A0\\uFE0F **ACTIVELY EXPLOITED (CISA KEV)**';\n  if (cveData.kevDetails?.knownRansomwareCampaignUse === 'Known') {\n    kevIndicator += ' \\u{1F6A8} **RANSOMWARE ASSOCIATED**';\n  }\n}\n\n// Format affected products list\nconst productsList = cveData.affectedProducts\n  ?.slice(0, 10)\n  ?.map(p => `  - ${p.vendor}:${p.product} (${p.version})`)\n  ?.join('\\n') || 'Not specified';\n\n// Format matched tech stack\nconst techStackList = cveData.matchedTechStack?.join(', ') || 'None';\n\n// Format references/remediation links\nconst remediationLinks = cveData.references\n  ?.map(r => `  - [${r.source || 'Link'}](${r.url})`)\n  ?.join('\\n') || 'No remediation links available';\n\n// Truncate description if too long\nlet description = cveData.description || 'No description available';\nif (description.length > 500) {\n  description = description.substring(0, 497) + '...';\n}\n\n// Build markdown message\nconst markdown = `${cvssEmoji} **CVE Vulnerability Alert**\n\n**CVE ID:** [${cveData.cveId}](https://nvd.nist.gov/vuln/detail/${cveData.cveId})\n**CVSS Score:** ${cveData.cvssScore}/10.0 (${cvssColor}) - ${cveData.cvssVersion}\n**Vector:** \\`${cveData.cvssVector || 'N/A'}\\`\n\n${kevIndicator ? kevIndicator + '\\n' : ''}\n---\n**Description:**\n${description}\n\n---\n**Matched Tech Stack:** ${techStackList}\n\n**Affected Products:**\n${productsList}\n\n---\n**Potentially Vulnerable Assets:** ${affectedEndpointCount}\n\n---\n**Remediation & References:**\n${remediationLinks}\n\n**Additional Resources:**\n- [NVD Detail Page](https://nvd.nist.gov/vuln/detail/${cveData.cveId})\n- [MITRE CVE](https://cve.mitre.org/cgi-bin/cvename.cgi?name=${cveData.cveId})\n${cveData.isInKev ? '- [CISA KEV Catalog](https://www.cisa.gov/known-exploited-vulnerabilities-catalog)' : ''}\n\n---\n*Published: ${cveData.published || 'Unknown'} | Last Modified: ${cveData.lastModified || 'Unknown'}*`;\n\nreturn {\n  json: {\n    markdown,\n    cveId: cveData.cveId,\n    cvssScore: cveData.cvssScore,\n    cvssSeverity: cvssColor,\n    isCritical: cveData.isCritical,\n    isInKev: cveData.isInKev,\n    matchedTechStack: cveData.matchedTechStack,\n    affectedEndpointCount\n  }\n};"
      },
      "id": "format-alert",
      "name": "Format Alert Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, -100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webexapis.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"roomId\": \"YOUR_VULNERABILITY_MANAGEMENT_ROOM_ID\",\n  \"markdown\": {{ JSON.stringify($json.markdown) }}\n}",
        "options": {}
      },
      "id": "webex-vuln-channel",
      "name": "Post to Vulnerability Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, -100],
      "notes": "Replace YOUR_VULNERABILITY_MANAGEMENT_ROOM_ID with your Webex room ID"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-critical",
              "leftValue": "={{ $json.cvssScore }}",
              "rightValue": 9,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-critical-severity",
      "name": "Is Critical (CVSS >= 9)?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2420, -100]
    },
    {
      "parameters": {
        "jsCode": "// Build escalation message for security leadership\nconst data = $json;\n\nconst escalationMarkdown = `\\u{1F6A8} **CRITICAL VULNERABILITY ESCALATION** \\u{1F6A8}\n\n**CVE ID:** [${data.cveId}](https://nvd.nist.gov/vuln/detail/${data.cveId})\n**CVSS Score:** ${data.cvssScore}/10.0 (CRITICAL)\n${data.isInKev ? '\\u26A0\\uFE0F **This vulnerability is ACTIVELY EXPLOITED and listed in CISA KEV**' : ''}\n\n**Matched Technology:** ${data.matchedTechStack?.join(', ') || 'Unknown'}\n**Potentially Affected Assets:** ${data.affectedEndpointCount}\n\n**Immediate Actions Required:**\n1. Identify all affected systems\n2. Assess exposure and exploitability\n3. Implement available mitigations/patches\n4. Monitor for exploitation attempts\n\n**Links:**\n- [NVD Detail](https://nvd.nist.gov/vuln/detail/${data.cveId})\n- [MITRE CVE](https://cve.mitre.org/cgi-bin/cvename.cgi?name=${data.cveId})\n${data.isInKev ? '- [CISA KEV Entry](https://www.cisa.gov/known-exploited-vulnerabilities-catalog)' : ''}\n\n---\n*This alert was auto-escalated due to CVSS >= 9.0*`;\n\nreturn {\n  json: {\n    ...data,\n    escalationMarkdown\n  }\n};"
      },
      "id": "format-escalation",
      "name": "Format Escalation Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, -200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webexapis.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"roomId\": \"YOUR_SECURITY_LEADERSHIP_ROOM_ID\",\n  \"markdown\": {{ JSON.stringify($json.escalationMarkdown) }}\n}",
        "options": {}
      },
      "id": "webex-leadership",
      "name": "Escalate to Security Leadership",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2860, -200],
      "notes": "Replace YOUR_SECURITY_LEADERSHIP_ROOM_ID with your Webex room ID"
    },
    {
      "parameters": {},
      "id": "no-escalation",
      "name": "No Escalation Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2640, 0]
    },
    {
      "parameters": {},
      "id": "no-relevant-cves",
      "name": "No Relevant CVEs",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1320, 100]
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Prepare Query Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Query Parameters": {
      "main": [
        [
          {
            "node": "Query NVD - High Severity",
            "type": "main",
            "index": 0
          },
          {
            "node": "Query NVD - Critical Severity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query NVD - High Severity": {
      "main": [
        [
          {
            "node": "Merge NVD Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query NVD - Critical Severity": {
      "main": [
        [
          {
            "node": "Merge NVD Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge NVD Results": {
      "main": [
        [
          {
            "node": "Filter Relevant CVEs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Relevant CVEs": {
      "main": [
        [
          {
            "node": "Has Relevant CVEs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Relevant CVEs?": {
      "main": [
        [
          {
            "node": "Fetch CISA KEV Catalog",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Relevant CVEs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CISA KEV Catalog": {
      "main": [
        [
          {
            "node": "Check KEV Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check KEV Status": {
      "main": [
        [
          {
            "node": "Query Tanium (Optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Tanium (Optional)": {
      "main": [
        [
          {
            "node": "Format Alert Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Alert Message": {
      "main": [
        [
          {
            "node": "Post to Vulnerability Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Vulnerability Channel": {
      "main": [
        [
          {
            "node": "Is Critical (CVSS >= 9)?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Critical (CVSS >= 9)?": {
      "main": [
        [
          {
            "node": "Format Escalation Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Escalation Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Escalation Message": {
      "main": [
        [
          {
            "node": "Escalate to Security Leadership",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Vulnerability Management",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "CVE",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "NVD",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "CISA KEV",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 0,
  "pinData": {},
  "meta": {
    "notes": "## CVE Vulnerability Alerts Workflow\n\n### Configuration Required:\n1. **Webex Credentials**: Set up HTTP Header Auth with your Webex Bot token (Authorization: Bearer YOUR_TOKEN)\n2. **Webex Room IDs**: Replace placeholder room IDs:\n   - YOUR_VULNERABILITY_MANAGEMENT_ROOM_ID - for vulnerability-management channel\n   - YOUR_SECURITY_LEADERSHIP_ROOM_ID - for security-leadership escalation channel\n3. **Tanium (Optional)**: Configure YOUR_TANIUM_SERVER URL and authentication if using Tanium for endpoint counts\n\n### Tech Stack Monitored:\n- Operating Systems: Windows, Linux (Ubuntu, CentOS, RHEL)\n- Security Tools: CrowdStrike, Tanium\n- Languages/Runtimes: Python, Node.js\n- Office/Productivity: Microsoft Office suite, Teams\n- Browsers: Chrome, Firefox, Edge, Safari\n- Infrastructure: Apache, Nginx, Docker, Kubernetes, VMware\n- Databases: MySQL, PostgreSQL, MongoDB, SQL Server\n- Cloud: AWS, Azure, GCP\n- Networking: Cisco, Palo Alto, Fortinet\n- Common: Adobe, Java, OpenSSL, OpenSSH\n\n### Rate Limiting:\nNVD API is free but rate-limited. The 6-hour schedule with retry logic should stay within limits."
  }
}
